body {
    background-color: rgb(236, 250, 210);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

a {
    text-decoration: none;
    color:brown
}

h1 {
    text-align: center;
}

li, ol {
    text-align: center;
    list-style-position: inside;
}

hr {
    border: none; 
    height: 2px; 
    background: linear-gradient(to right, transparent, #000, transparent); 
}

.form {
    text-align: center;
}

.home {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 24px;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #e5cba4, #f39a14c1 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 4px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
.homepage {
    text-align: center;
}
.calendar {
    text-align: center;
    margin-top: 20px;
}
.calendar table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse; 
    text-align: center;
    font-size: 1.5rem; 
    border: 4px solid #000
}
.calendar th, .office-hours td {
    padding: 30px;
    border: 2px solid #000;
    vertical-align: middle;
}
.calendar th {
    background-color: #b8cf8a;
    color: #fff;
    font-size: 2rem;
}

.calendar td {
    background-color: #F0E68C;
    font-size: 1.25rem;
}
.calendar tr {
    border-bottom: 2px solid #000;
}
.contact {
     text-align: center;
    margin-top: 40px;
}
.contact p {
    font-size: 18px;
}

.contact a {
    font-size: 18px;
    color: #256a97;
}
.contact a:hover {
    color: #004080; 
}
.faq {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

.faq h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000; 
}

.faq ul {
    list-style-type: none;
    padding: 0;
}

.faq li {
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: #333;
}



